/* Style */
body {
    background-color: #E3F2FD; /* light blue */
    font-family: 'Arial', sans-serif;
}

/* Page header*/
.header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #01579B;
    margin-bottom: 20px;
}

/* main container */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* map */
.map-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Doctor List */
.list-group-item {
    border-left: 5px solid #0288D1;
    transition: transform 0.2s;
}

.list-group-item:hover {
    transform: scale(1.02);
    background-color: #E1F5FE;
}

/* Butons */
button {
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-primary {
    background-color: #0288D1;
    border: none;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background-color: #01579B;
}

.btn-danger {
    background-color: #D32F2F;
    border: none;
    transition: background 0.3s ease;
}

.btn-danger:hover {
    background-color: #B71C1C;
}
