body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* general background */
body {
  background-color: #E0F7FA; /* light Turqoise */
  font-family: 'Arial', sans-serif;
}

/* main container */
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* header style */
h2 {
  color: #00796B;
}

/* search box */
input.form-control {
  border: 2px solid #4DB6AC;
  border-radius: 20px;
  padding: 10px;
}

input.form-control:focus {
  border-color: #00796B;
  box-shadow: 0 0 5px #4DB6AC;
}

/* search Button */
button.btn-primary {
  background-color: #00796B;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background 0.3s ease;
}

button.btn-primary:hover {
  background-color: #004D40;
}

/* map  */
.map-container {
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

/* Doctor List */
.list-group-item {
  border-left: 5px solid #00796B;
  transition: transform 0.2s;
}

.list-group-item:hover {
  transform: scale(1.02);
  background-color: #E0F2F1;
}

/* exit Button */
button.btn-danger {
  background-color: #D32F2F;
  border: none;
  border-radius: 10px;
}

button.btn-danger:hover {
  background-color: #B71C1C;
}
